@media screen and (max-width: 576px)  {
  .mobile-break { display: none; }
}

body {
  font-family: "yorkten-slab-normal", serif;
  font-weight: 200;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "commuters-sans", sans-serif;
  font-weight: 900;
}

button {
  font-family: "commuters-sans", sans-serif;
  font-weight: 900 !important;
}

.list-inline-item {
  font-weight: 500;
}

.nav-link {
  font-family: "commuters-sans", sans-serif;
  font-weight: 400;
}

.feature {
  font-family: "commuters-sans", sans-serif;
  font-weight: 700;
}

.modal-fullscreen {
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
}

.modal-fullscreen .modal-content {
  border: none;
  border-radius: 0;
  overflow: auto;
}